* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.loginSignup{
    display: flex;
    flex-direction: column;
    
}
.loginSignup *{
    justify-content: center;
    margin:0.5em auto;
}
@media (min-width: 70em) {
    .loginSignup{
        flex-direction: row;
    }
    .loginSignup *{
        margin:1em 2em;
    }
   
}