.frame {
  display: flex;
  width: 420px;
  height: 520px;
  flex-direction: column;
}
.cards {
  position: relative;
  width: 460px;
  height: 620px;
}
.rectangle {
  display: flex;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: rgba(250, 175, 79, 1);
  border-radius: 25px;
  width: 460px;
  height: 625px;
}
.layout {
  display: flex;
  position: relative;
  flex-direction: column;
  gap: 6px;
}
.imgs {
  display: flex;
  border-radius: 25px 25px 0px 0px;
  width: 460px;
  height: 432px;
  margin-bottom: 14px;
}
.location {
  overflow: hidden;
  width: 32px;
  height: 32px;
  display: flex;
  flex-direction: column;
  padding: 3.9983739852905273px 3.9991068840026855px 3.9983739852905273px
    3.9998669624328613px;
  margin-left: 20px;
}

.text {
  color: rgba(0, 0, 0, 1);
  font-size: 23px;
  font-family: "Roboto";
  font-style: italic;
  font-weight: 300;
  letter-spacing: 0em;
  text-align: left;
  white-space: pre-wrap;
  margin-left: 28px;
}

.lorem_ipsum {
  position: absolute;
  top: 452px;
  left: 55px;
  color: rgba(0, 0, 0, 1);
  font-size: 24px;
  font-family: "Roboto";
  font-weight: 700;
  letter-spacing: 0em;
  text-align: left;
  width: 184px;
  height: 25px;
}
